services:
  app:
    image: ghcr.io/ivanegri/crm_pet:latest
    container_name: crm_pet_app
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
    # environment:
    #   - SECRET_KEY=sua_chave_secreta_aqui

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # Se a imagem for PÚBLICA, remova a linha abaixo.
      # Se for PRIVADA, garanta que o docker login foi feito no servidor e use:
      # - /root/.docker/config.json:/config.json  <-- Exemplo para usuário root
    command: --interval 300 --cleanup
