services:
  app:
    image: ghcr.io/ivanegri/crm_pet:latest
    container_name: crm_pet_app
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
    # Uncomment the lines below if you need to pass credentials to the app
    # environment:
    #   - SOME_ENV_VAR=value

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # Mount the docker config to share credentials (required for private GHCR images)
      - /home/ivan/.docker/config.json:/config.json
    command: --interval 300 --cleanup
